<html>
    <style>
        table { 
            text-align: left;
            border-spacing: 0;
            border-collapse: collapse;
            margin-bottom: 10px;
        }
		
        td{
            padding:0; margin:0;
            white-space:PRE;
        }
    </style>
    
    <h1> {{ title }}</h1>

    {# For each song in the dictionary #}
    {% for name, chordblock in dictionary.items() %}
    <h2>{{name}}</h2>
        
        {# For each line of the song #}
        {% for line in chordblock %}
        <table>
        
            {# For chord cell and lyric cell positions #}
            {% for i in range(2) %}
            <tr>
            
                {# For each syllable in the line #}
                {% for pos in line %}
                    
                    {# Add chord (i=0) or lyric (i=1) #}
                    <td>{{ pos[i] }}</td>
                         
                {% endfor %}
        
            </tr>
            {% endfor %}
        
        </table>
        {% endfor %}
        
    {% endfor %}
    

</html>